{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "Contacts" %}</h3>
</div>
<div class="row">
	<div class="col-md-3">
		<br>
		<h2 align="center">ТОО «Новости» </h2>
		<address>
			<p>Ленинградский пр-т., 70, Москва, Россия, 125315</p>			
			<a href="mailto:info@news.ru">info@news.ru</a>			  
		</address>				
		<p><a href="tel:+7901XXXXXXX">+7(901)XXX-XX-XX</a><p>
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35885.710244383336!2d37.503040542885415!3d55.79572286343745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549ca5ccd9ec9%3A0xa7be24d616f7cb06!2z0JHQpiDCq9CQ0LvQutC-0L3Cuw!5e0!3m2!1sru!2skz!4v1710134666238!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}