{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "articles" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>Великая среда: история и традиции. Что можно и нельзя делать в третий день Страстной седмицы в 2024 году</h2>
<div>
	<p><img class="img-center4" src="{% static 'images/article2_1.jpg' %}" alt="image"></p>
	<div>
		<p>Великая среда — третий день Страстной седмицы, недели перед Пасхой. Православные верующие вспоминают сразу два важных библейских события, которые произошли в последние дни земной жизни Христа: предательство Иуды и миропомазание Иисуса. «Лента.ру» рассказывает, какого числа праздник отмечают в 2024 году и какие богослужения проводят в храмах.</p>
	</div>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a1f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Дата Великой среды в 2024 году</a></p>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a6f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Что произошло в Великую среду</a></p>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a31f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Значение Великой среды</a></p>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a34f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Церковные традиции в Великую среду</a></p>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a42f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Что можно и нельзя делать в Великую среду 2024 года</a></p>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a50f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Народные традиции в Великую среду</a></p>
	<p>·<a href="https://lenta.ru/articles/2024/03/07/velikaya-sreda-istoriya-i-traditsii/#a55f4jfeqzc1l6p" style='-webkit-font-smoothing: antialiased;box-sizing: border-box'>Народные приметы в Великую среду</a></p>
	<h2 id=a1f4jfeqzc1l6p>Дата Великой среды в 2024 году</h2>
	<p>Дата Великой среды меняется каждый год. Дело в том, что она зависит от<a href="https://lenta.ru/articles/2023/10/25/kakogo-chisla-budet-pasha-v-2024-godu/" target="_blank">Пасхи</a>— как и многие другие православные торжества.</p>
	<p>Пасха в 2024 году приходится на воскресенье, 5 мая. А значит, Великая среда Страстной седмицы выпадает на 1 мая.</p>
	<p>«В этом году Великая среда будет выходным днем. Можно будет больше побывать на службах, посвятить себя молитвам», — отметил в беседе с «Лентой.ру» Николай Савченко, клирик Троице-Сергиевой пустыни в Стрельне.</p>
	<p><img class="img-center4" src="{% static 'images/article2_2.jpg' %}" alt="image"></p>
	<h2 id=a6f4jfeqzc1l6p>Что произошло в Великую среду</h2>
	<p>О событиях Великой среды рассказывает 26<a href="https://bible.by/syn/40/26/" target="_blank">глава</a>Евангелия от Матфея. Она начинается со слов Иисуса, который предупредил своих учеников, что через два дня «Сына Человеческого» ждет распятие.</p>
	<p>В то же время у первосвященника</p>
	<p>Каиафы собрались высшие чины церкви и народные старейшины. На совете они начали обсуждать, как бы избавиться от Иисуса, который в Великий вторник делал губительные для их власти заявления — о грядущем Страшном суде и о кончине прежнего мира. Сошлись на том, что казнить Христа надо как можно скорее, но не в праздник иудейской Пасхи</p>
	<p>, чтобы избежать возможного мятежа возмущенной толпы.</p>
	<p align=center><b>В Великую среду Страстной седмицы произошли два знаковых события — именно им посвящены церковные службы этого дня</b></p>
	<h3>Помазание Христа миром</h3>
	<p>Великую среду Иисус провел в Вифании, в доме Симона прокаженного. В Евангелии от Матфея<a href="https://www.bible-center.ru/ru/bibletext/kulakov_ru/mt/26:6-13" target="_blank">сказано</a>, что, когда он отдыхал там, к нему подошла женщина, которая вылила ему на голову миро — драгоценное благовонное масло.</p>
	<p align=center><b>В те времена миром помазывали или царских особ, или людей перед похоронами</b></p>
	<p>Ученики Иисуса возмутились тому, что женщина без причины пролила драгоценное масло, ведь его можно было продать и раздать деньги нищим. Однако Иисус сказал, что она сделала доброе дело — подготовила его к погребению, предчувствуя его страдания и распятие. Христос отметил, что поступок грешницы запомнят на долгие века.</p>
	<p><img class="img-center4" src="{% static 'images/article2_3.jpg' %}" alt="image"></p>
	<p>При этом истории о том, что именно произошло, разнятся:</p>
	<p>· Евангелие от Марка практически полностью<a href="https://azbyka.ru/biblia/?Mk.14:3-9" target="_blank">повторяет</a>слова Евангелия от Матфея, однако там уточняется, что женщина разбила сосуд.</p>
	<p>· В Евангелии от Луки<a href="https://ekzeget.ru/bible/evangelie-ot-luki/glava-7?verse=46:46-46/" target="_blank">сказано</a>, что женщина помазала миром ноги Христа, а также целовала их, обливала слезами и вытирала своими волосами. Один из фарисеев, в чьем доме был Иисус, мысленно назвал ее грешницей. В ответ спаситель заявил ему, что женщина возлюбила его намного сильнее, чем он, поэтому ей прощаются все грехи. При этом там нет слова о том, что ученики Христа ее ругали за напрасную трату мира, как и о том, чтобы Иисус объяснял, что она приготовила его к погребению.</p>
	<p>· В Евангелии от Иоанна же<a href="http://www.patriarchia.ru/bible/jn/12/" target="_blank">уточняется</a>, что женщина была Марией — сестрой Лазаря, которого Иисус ранее воскресил. Отмечается, что она взяла миро, помазала им его ноги и вытерла их своими волосами. При этом указано, что это произошло накануне входа Иисуса в Иерусалим, то есть за шесть дней до Пасхи.</p>
	<p>Все четверо рассказчиков сошлись в том, что женщина не произнесла ни слова во время этих событий. Однако многие<a href="https://www.pravmir.ru/pesnopeniya-velikoj-sredy/" target="_blank" style='-webkit-font-smoothing: antialiased;box-sizing: border-box;text-decoration: rgb(204, 51, 51);text-underline-offset: 1px;transition: text-decoration-color 0.15s ease-out 0s'>песнопения</a>построены как рассказ от лица «грешницы». Например, такой прием используют в Литургии преждеосвященных даров:</p>
	<p align=center>Господи, яже во многие грехи впадшая жена, Твое ощутившая Божество, мироносицы вземше чин, рыдающи миро Тебе прежде погребения приносит</p>
	<p align=center><b>Из Литургии преждеосвященных даров</b></p>
	<p><img class="img-center4" src="{% static 'images/article2_4.jpg' %}" alt="image"></p>
	<h3>Иуда и 30 сребреников</h3>
	<p>В Евангелии от Матфея сказано, что после помазания Иисуса один из 12 его учеников, Иуда Искариот,<a href="https://diveevo-monastyr.ru/articles/pochemu-iuda-predal-hrista/" target="_blank">отправился</a>на совет к народным старейшинам, которые замышляли расправится со Спасителем. Он спросил у них, что ему дадут, если он согласится выдать своего учителя. В ответ ему предложили 30 сребреников — за эти деньги в то время можно было купить раба. Иуда согласился, взял деньги и начал искать удобный момент для предательства Иисуса.</p>
	<p>Подходящая возможность представилась уже на следующий день, в Великий четверг. Во время Тайной вечери Иисус в последний раз отужинал со своими последователями и поведал им, что вскоре один из них его предаст. Каждый апостол стал вопрошать, не о нем ли речь. Когда очередь дошла до Иуды, Иисус указал на него.</p>
	<p>После Христос раздал ученикам хлеб и благословил чашу с напитком, сказав, что так они вкусят его тело и выпьют его кровь. Закончив трапезу, они отправились на Елеонскую гору, где Иисус отметил, что все они сегодня от него отрекутся.</p>
	<p>Там Иисус трижды помолился, а затем заявил ученикам, что приближается человек, который его предаст. В это время подошел Иуда, а с ним много вооруженных людей. Иуда сказал им, что нужно схватить того, кого он поцелует, и направился к Иисусу. Однако Христос спросил предателя, зачем тот явился.</p>
	<p>Сразу после этого люди, которые были вместе с Иудой, схватили Спасителя. Один из сторонников Иисуса взялся за меч, но Христос велел опустить оружие, опасаясь гибели своих последователей. Он отметил, что его отец по его просьбе мог бы дать ему для защиты тысячи ангелов, но писания пророков должны сбыться. Тогда все его ученики убежали, а самого Иисуса увели к первосвященнику Каиафе.</p>
	<p><b>Кто такой Иуда Искариот?</b></p>
	<p><br><br></p>
	<p><img class="img-center4" src="{% static 'images/article2_5.jpg' %}" alt="image"></p>
	<h2 id=a31f4jfeqzc1l6p>Значение Великой среды</h2>
	<p>Великая среда на Страстной неделе имеет особый смысл — это последний день перед тем, как Иисуса Христа схватили, судили и распяли.</p>
	<p align=center>В церквях служится Литургия преждеосвященных даров, а в монастырях за первые три дня Страстной седмицы успевают прочесть все четыре Евангелия — в среду заканчивают читать последнее</p>
	<p align=center><b>Николай Савченко</b>клирик</p>
	<h2 id=a34f4jfeqzc1l6p>Церковные традиции в Великую среду</h2>
	<h3>Молитва с тремя поклонами</h3>
	<p>Великая среда Страстной недели — время, когда на Божественной литургии в церкви в последний раз священнослужители читают<a href="https://www.miloserdie.ru/article/molitva-efrema-sirina-glavnaya-molitva-velikogo-posta/" target="_blank">молитву</a>Ефрема Сирина с тремя великими поклонами. Отныне и до праздника Святой Троицы, который в 2024 году выпадает на 23 июня, в церкви кланяться больше нельзя.</p>
	<p align=center><b>Запрет на великие поклоны означает, что Иисус искупил земные грехи людей. Ведь поклон в храме — символ греховного ниспадения души</b></p>
	<p>Существует только одно исключение: кланяться можно плащанице</p>
	<p>.</p>
	<p><img class="img-center4" src="{% static 'images/article2_6.jpg' %}" alt="image"></p>
	<h3>Традиции исповедания</h3>
	<p>Также вечером Великой среды во многих храмах совершается общая исповедь. Ее посещают многие верующие, поскольку на следующий день, в Чистый четверг, принято причащаться.</p>
	<h2 id=a42f4jfeqzc1l6p>Что можно и нельзя делать в Великую среду 2024 года</h2>
	<h3>Что нельзя делать в Великую среду</h3>
	<p>В Великую среду строго<a href="https://sputnik-georgia.ru/20230411/primety-na-strastnuyu-sredu-2023-chto-mozhno-i-nelzya-delat-276639547.html" target="_blank">запрещено</a>венчаться, жениться и ходить на кладбище, а также поминать усопших. Также не следует звать гостей и шумно отмечать дни рождения. Памятуя об Иуде, христианин должен воздержаться также от зависти и даже малейших помыслах о предательстве. А еще следует отказаться вязания и шитья.</p>
	<p><img class="img-center4" src="{% static 'images/article2_7.jpg' %}" alt="image"></p>
	<h3>Что можно делать в Великую среду</h3>
	<p>В Великую среду традиционно начинается<a href="https://www.pravmir.ru/strastnaya-sedmica-tradicii-bogosluzheniya-propovedi/" target="_blank">подготовка</a>к Пасхе. Обычно в это время хозяйки собирают все для окрашивания яиц и опары</p>
	<p>для кулича.</p>
	<p>Кроме того, в этот день можно убираться дома — в первую очередь следует помыть окна, чтобы на Пасху солнце осветило жилище каждого христианина.</p>
	<h2 id=a50f4jfeqzc1l6p>Народные традиции в Великую среду</h2>
	<p>Наши предки считали, что в Великую среду домовой сбрасывает зимнюю шкуру и бесится, поэтому старались в этот день не выходить во двор и даже лишний раз не смотреть в окно.</p>
	<p>А если по какой-то причине все же приходилось пойти в гости, обязательно приносили подарок для хозяев дома. Выбирали с умом: дарили что-то, что можно использовать в быту — например, отрез ткани или рушник.</p>
	<p>Кроме того, люди старались не надевать в этот день темные одежды, чтобы не притянуть к себе дурные силы.</p>
	<p><img class="img-center4" src="{% static 'images/article2_8.jpg' %}" alt="image"></p>
	<h2 id=a55f4jfeqzc1l6p>Народные приметы в Великую среду</h2>
	<p>· Если в этот день уже летают пчелы и шмели, то весна и лето будут жаркими;</p>
	<p>· Если листья первыми показались на березе, а на ольхе позже, то лето будет засушливым;</p>
	<p>· Если день выдался дождливым, то лето будет грибным.</p>
</div>
{% endblock content %}

