{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "articles" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "articles" %}</h2>
<hr>
<p><a href="{% url 'article1'%}">Кто такие миллениалы?</a></p>
<p><a href="{% url 'article2'%}">Великая среда: история и традиции</a></p>
<p><a href="{% url 'article3'%}">Гай Ричи снял сериал по своей культовой пацанской комедии «Джентльмены»</a></p>
<p><a href="{% url 'article4'%}">«Господи, пусть не сломается» Гагарин первым полетел в космос. Как аварийная ситуация на борту едва не стоила ему жизни?</a></p>
<p><a href="{% url 'article5'%}">Женщины по всему миру скупают роскошную одежду</a></p>
<p><a href="{% url 'article6'%}">Не пропустить болезнь. Стал известен перечень бесплатных медицинских услуг для россиян. Что в него входит?</a></p>
<p><a href="{% url 'article7'%}">На финишной прямой. В России стартует Всемирный фестиваль молодежи. Почему в цифровую эпоху интерес к нему растет?</a></p>
{% endblock content %}

